
.landing-pg {
  background-color: black;
  height: 1000vh;
}

a{
  text-decoration: none;
}

#vandal-logo {
  margin-top: 120px;
  margin-left: 50px
}

.display-name{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 40px;
  /* box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease; */
  
}

.rest-name, .night-name {
  color: white;
  letter-spacing: 1.5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 30px
}

/* .rest-name:hover{
  color: #A61F16
} */


/* .night-name:hover{
  color: #A61F16;
} */
.night-name:hover,
.night-name:active {
  letter-spacing: 5px;
}

.night-name::after,
.night-name::before {
  backface-visibility: hidden;
  border: 1px solid white;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.night-name:hover::after,
.night-name:hover::before {
  backface-visibility: hidden;
  border-color: white;
  transition: width 350ms ease-in-out;
  width: 95%;
}

.night-name:hover::before {
  bottom: auto;
  top: 0;
  width: 95%;
}

.rest-name:hover,
.rest-name:active {
  letter-spacing: 5px;
}

.rest-name::after,
.rest-name::before {
  backface-visibility: hidden;
  border: 1px solid white;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.rest-name:hover::after,
.rest-name:hover::before {
  backface-visibility: hidden;
  border-color: white;
  transition: width 350ms ease-in-out;
  width: 95%;
}

.rest-name:hover::before {
  bottom: auto;
  top: 0;
  width: 95%;
}

/* ==========================Header Styling======================== */
header {
  /* border: 2px solid black; */
  width: 100%;
  height: 7vh;
  display: flex;
  background-color: black;
  vertical-align: middle;
}

#header-div {
  /* border: 2px pink solid; */
  width: 50%;
  margin: auto;
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
}

header a {
  text-decoration: none;
  color: white;
  transition-timing-function: ease-in-out;
  transition: .50s;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 700;
  
}

header a:hover {
  color: #ccbfab;
}


#business-image{
  background-color: black;
}

#business-img{
  width: 100;
}

#logo{
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color:transparent;
  padding: 0;
  z-index: .2;
}
#logo-img{
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: .2;
}


#resteraunt-about{
margin: 0;
display: grid;
grid-template-columns: 1fr 1fr;
grid-row-gap: 0;
}
#resteraunt-img{
  width: 100%;
}


#resteraunt-chef{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 0;
  }
#chef-img{
    width: 100%;
    height: 100%;
  }

#text-about-container{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.2em;

}
#text-about-container p{
padding-right: 15%;
padding-left: 15%;
padding-top: 3%;
text-align: center;
}

 .menu-button-container{
   display: flex;
   justify-content: center;
 }

 .menu-button{
   margin-top: -4em;
   height:2em;
   width: 3em;
  z-index: 1;
  font-size: 3em;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  text-align: center;
  padding-top:.5em;
  
 }

 #resteraunt-chef{
  margin-top: -7.2em;
 }

 .text-chef-container{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.2em;
 }

.text-chef-container p{
padding-left: 15%;
padding-right: 15%;
padding-top: 3%;
text-align: center;
}

.art-head{
  margin: 0;
  color: white;
  background-color: black;
font-size: 1.5em;
text-align: center;
height:3em;
}

#art-area-img{
  margin-top: -1.75em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }
.art-imgs{
      width: 100%;
    }

.gallery-head{
  margin: 0;
  color: white;
  background-color: black;
  font-size: 1.5em;
  text-align: center;
  height:2em;
    }

#gallery-area-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }
.gallery-imgs{
      width: 100%;
    }
  